<!DOCTYPE html>
<html>
{% load staticfiles %}
{% load track_extra %}
<head>
    <meta charset="UTF-8">
    <title>Busco Ayuda</title>
    <!-- CSS -->
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link href="{% static "3rdParty/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css"/>
    <!-- FontAwesome -->
    <link href="{% static "3rdParty/plugins/fontawesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css"/>
    <!-- Ionicons -->
    <link href="{% static "3rdParty/plugins/ionicons/css/ionicons.min.css" %}" rel="stylesheet" type="text/css"/>
    <!-- Morris chart -->
    <link href="{% static "3rdParty/plugins/morris/morris.css" %}" rel="stylesheet" type="text/css"/>
    <!-- jvectormap -->
    <link href="{% static "3rdParty/plugins/jvectormap/jquery-jvectormap-1.2.2.css" %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static "3rdParty/plugins/datatables/dataTables.bootstrap.css" %}" rel="stylesheet" type="text/css"/>
    <!-- Date Picker -->
    <link href="{% static "3rdParty/plugins/datepicker/datepicker3.css" %}" rel="stylesheet" type="text/css"/>
    <!-- Daterange picker -->
    <link href="{% static "3rdParty/plugins/daterangepicker/daterangepicker-bs3.css" %}" rel="stylesheet"
          type="text/css"/>
    <!-- bootstrap wysihtml5 - text editor -->
    <link href="{% static "3rdParty/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" %}" rel="stylesheet"
          type="text/css"/>
    <!-- iCheck -->
    <link href="{% static "3rdParty/plugins/iCheck/square/blue.css" %}" rel="stylesheet" type="text/css"/>
    <!-- Theme style -->
    <link href="{% static "3rdParty/AdminLTE/css/AdminLTE.min.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "3rdParty/AdminLTE/css/skins/skin-blue.min.css" %}" rel="stylesheet" type="text/css"/>
    {% block extra_css %}{% endblock %}
    <link href="{% static "css/webApp.css" %}" rel="stylesheet" type="text/css"/>
    <!-- JQuery -->
    <script src="{% static "3rdParty/jquery/jquery-2.1.4.min.js" %}"></script>
    <script src="{% url 'js_reverse' %}" type="text/javascript"></script>
    <script src="{% static "js/webApp.js" %}" type="text/javascript"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="skin-blue layout-top-nav">
<div class="wrapper">
    <header class="main-header">
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a href="{% url 'index' %}" class="navbar-brand">Busco<b>AYUDA</b></a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <!-- input type="text" class="form-control" id="navbar-search-input" placeholder="Buscar" -->
                        </div>
                    </form>
                </div>
                <!-- /.navbar-collapse -->

                <div class="navbar-custom-menu">
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            {% if user.username %}
                                <li>
                                    <a href="{% url 'usuario' %}">
                                        <i class="fa fa-user"></i>&nbsp;&nbsp;Usuario</a>
                                </li>
                                <li>
                                    <a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;Salir</a>
                                </li>
                            {% else %}
                                <li>
                                    <a href="{% url 'register' %}" data-toggle="modal" data-target="#modalRegistro" id="id_register">
                                        <i class="fa fa-user-plus"></i>&nbsp;&nbsp;Registrar</a>
                                </li>
                                <li>
                                    <a style="cursor: pointer" data-toggle="modal" data-target="#modalLogin">
                                        <i class="fa fa-sign-in"></i>&nbsp;&nbsp;Ingresar</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
            </div>
        </nav>
    </header>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="min-height: 480px;">
        <div class="container">
            <section class="content-header">
                {% block content_header %}
                {% endblock %}
            </section>
            <section class="content" style="padding-top: 5px">
                {% if messages %}
                    {% for message in messages %}
                        <div class="col-lg-12" id="mensaje_{{ forloop.counter }}">
                        {% if message.tags == "error" %}
                            <div class="callout callout-danger">
                        {% else %}
                            <div class="callout callout-info">
                        {% endif %}
                    <h4>Mensaje:</h4>
                    <p>{{ message|safe }}</p>
                    </div>
                    </div>
                        <script>
                            setTimeout(function () {
                                $("#mensaje_" + "{{ forloop.counter }}").fadeOut();
                            }, 5000);
                        </script>
                    {% endfor %}
                {% endif %}

                {% block content %}
                {% endblock %}
                <div class="clearfix"></div>
            </section>
        </div>

    </div>
    <div class="clearfix"></div>

    <!-- Footer -->
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Versión</b> 1.3
        </div>
        {% block content_footer %}{% endblock %}&nbsp;
    </footer>
</div>
<!-- ./wrapper -->

<script src="{% static "3rdParty/bootstrap/js/bootstrap.min.js" %}" type="text/javascript"></script>
<script src="{% static "3rdParty/jquery/jquery-ui.min.js" %}" type="text/javascript"></script>
<!-- HighCharts -->
<script src="{% static "3rdParty/plugins/highcharts/highcharts.js" %}" type="text/javascript"></script>
<script src="{% static "3rdParty/plugins/highcharts/modules/exporting.js" %}"></script>
<!-- FastClick -->
<script src='{% static "3rdParty/plugins/fastclick/fastclick.min.js" %}'></script>
<!-- SlimScroll 1.3.0 -->
<script src="{% static "3rdParty/plugins/slimScroll/jquery.slimscroll.min.js" %}" type="text/javascript"></script>
<!-- ChartJS 1.0.1 -->
<script src="{% static "3rdParty/plugins/chartjs/Chart.min.js" %}" type="text/javascript"></script>
<!-- Morris.js charts -->
<script src="{% static "3rdParty/plugins/raphael/raphael-min.js" %}"></script>
<script src="{% static "3rdParty/plugins/morris/morris.min.js" %}" type="text/javascript"></script>
<script src="{% static "3rdParty/plugins/input-mask/jquery.inputmask.js" %}" type="text/javascript"></script>
<!-- Sparkline -->
<script src="{% static "3rdParty/plugins/sparkline/jquery.sparkline.min.js" %}" type="text/javascript"></script>
<!-- jvectormap -->
<script src="{% static "3rdParty/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js" %}" type="text/javascript"></script>
<script src="{% static "3rdParty/plugins/jvectormap/jquery-jvectormap-world-mill-en.js" %}"
        type="text/javascript"></script>
<!-- jQuery Knob Chart -->
<script src="{% static "3rdParty/plugins/knob/jquery.knob.js" %}" type="text/javascript"></script>
<!-- daterangepicker -->
<script src="{% static "3rdParty/plugins/daterangepicker/daterangepicker.js" %}" type="text/javascript"></script>
<script src="{% static "3rdParty/plugins/datatables/jquery.dataTables.js" %}" type="text/javascript"></script>
<script src="{% static "3rdParty/plugins/datatables/dataTables.bootstrap.js" %}" type="text/javascript"></script>
<!-- datepicker -->
<script src="{% static "3rdParty/plugins/datepicker/bootstrap-datepicker.js" %}" type="text/javascript"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="{% static "3rdParty/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js" %}"
        type="text/javascript"></script>
<!-- iCheck -->
<script src="{% static "3rdParty/plugins/iCheck/icheck.min.js" %}" type="text/javascript"></script>
<!-- AdminLTE App -->
<script src="{% static "3rdParty/AdminLTE/js/app.min.js" %}" type="text/javascript"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<!-- AdminLTE for demo purposes -->
{% block js_extend %}{% endblock %}
</body>
</html>