{% extends 'base_public_layout.html' %}
{% load staticfiles %}
{% load track_extra %}
{% block title %}Catálogo{% endblock %}
{% block content_header %}
    <h1 class="page-header">Inicio
        <small>BuscoAyuda</small>
    </h1>
    <ol class="breadcrumb">
        <li class="active"><i class="fa fa-search"></i> Búsqueda de Independientes</li>
    </ol>
{% endblock %}
{% block content %}
    <script>
        $(document).ready(function () {
            $(".verDetalle").click(function () {
                $(".modal-body #modal-name").text($(this).data('name'));
                $(".modal-body #modal-service").text($(this).data('service'));
                $(".modal-body #modal-url").attr("src", $(this).data('url'));
                var experiencia = ($(this).data('experiencia') == 1 ? '1 año' : $(this).data('experiencia') + ' años');
                $(".modal-body #modal-experiencia").text(experiencia);
                $(".modal-body #modal-telefono").text($(this).data('telefono'));
                $(".modal-body #modal-email").text($(this).data('email'));
                $("#modalDetalle").modal();

                // COMENTARIOS HANDLER
                $("#id_independiente_comentario").val($(this).data('id'));
                $.getJSON(Urls.rest_comentarios($(this).data('id')), {}, function (data) {
                    var slctrComentarios = $("#comentariosWrapper");
                    slctrComentarios.html("");
                    if (data.length > 0) {
                        data.forEach(function (obj) {
                            var html = '<div class="direct-chat-msg">' +
                                    '<div class="direct-chat-info clearfix">' +
                                    '<span class="direct-chat-name pull-left">' + obj.fields.correo + '</span>' +
                                    '<span class="direct-chat-timestamp pull-right">' + obj.fields.fecha + '</span>' +
                                    '</div>' +
                                    '<img class="direct-chat-img" src="{% static "img/user.png" %}"' +
                                    'alt="message user image">' +
                                    '<div class="direct-chat-text">' + obj.fields.contenido +
                                    '</div>' +
                                    '</div>';
                            slctrComentarios.append(html);
                        });
                    } else {
                        slctrComentarios.html("No hay comentarios");
                    }
                })
            });

            // SELECT BÚSQUEDA SERVICIO HANDLER
            var selectorSlctBusquedaServicio = $('#slctBusquedaServicio');
            selectorSlctBusquedaServicio.on('change', function () {
                var idS = $(this).val();
                if (idS != "0") {
                    redirect("?idS=" + idS);
                }
            });
            var idS = getUrlParameter('idS');
            if (idS) {
                selectorSlctBusquedaServicio.val(idS);
                $('#slctBusquedaServicioDefault').remove();
            }
        });
    </script>
    <!-- Projects Row -->
    <div class="row">
        <div class="col-xs-12">
            <label for="slctBusquedaServicio">Búsqueda por Servicio:</label>
            <select id="slctBusquedaServicio" class="form-control">
                <option id="slctBusquedaServicioDefault" value="0">---</option>
                {% for servicio in servicios %}
                    <option value="{{ servicio.id }}">{{ servicio.nombre }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div id="datos" class="row" style="margin-top: 10px">
        {% if independientes %}
            {% for independiente in independientes %}
                <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item">
                    <div class="box box-default">
                        <table class="table" style="margin-bottom: 0">
                            <thead class="thead-inverse">
                            <tr class="text-xs-center">
                                <th>
                                    <h3 align="center" style="margin: 8px">{{ independiente.servicio }}</h3>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <a href="javascript:void(0)" class="verDetalle img-responsive"
                                       data-name="{{ independiente.usuario.first_name }} {{ independiente.usuario.last_name }}"
                                       data-service="{{ independiente.servicio }}"
                                       data-url="{{ independiente.foto.url }}"
                                       data-experiencia="{{ independiente.experiencia }}"
                                       data-telefono="{{ independiente.telefono }}"
                                       data-email="{{ independiente.usuario.email }}"
                                       data-id="{{ independiente.id }}">
                                        <img src="{{ independiente.foto.url }}" alt="" width="100%" height="250">
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>
                                    <a href="javascript:void(0)" class="verDetalle img-responsive"
                                       data-name="{{ independiente.usuario.first_name }} {{ independiente.usuario.last_name }}"
                                       data-service="{{ independiente.servicio }}"
                                       data-url="{{ independiente.foto.url }}"
                                       data-experiencia="{{ independiente.experiencia }}"
                                       data-telefono="{{ independiente.telefono }}"
                                       data-email="{{ independiente.usuario.email }}"
                                       data-id="{{ independiente.id }}">
                                        <span align="center"
                                        style="margin: 7px">{{ independiente.usuario.first_name }} {{ independiente.usuario.last_name }}</span>
                                    </a>

                                    <h3 align="center"
                                        style="margin: 7px">{{ independiente.usuario.first_name }} {{ independiente.usuario.last_name }}</h3>
                                </th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No hay independientes</p>
        {% endif %}
    </div>
    <!-- /.row -->

    <!-- Pagination -->
    <div class="row text-center">
        <div class="col-lg-12">
            <ul class="pagination" style="margin-top: 0">
                {% if independientes.has_previous %}
                    <li>
                        <a href="?page={{ num_anterior }}" aria-label="Previous">
                            {% else %}
                    <li class="disabled">
                    <a aria-label="Previous">
                {% endif %}
                <span aria-hidden="true">&laquo;</span>
                </a>
                </li>
                {% for i in independientes.paginator.num_pages|range %}
                    {% if forloop.counter == independientes.number %}
                        <li class="active">
                            <a>{{ forloop.counter }}</a>
                            {% else %}
                        <li>
                        <a href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>
                    {% endif %}
                </li>
                {% endfor %}
                {% if independientes.has_next %}
                    <li>
                        <a href="?page={{ num_siguiente }}" aria-label="Next">
                            {% else %}
                    <li class="disabled">
                    <a aria-label="Next">
                {% endif %}
                <span aria-hidden="true">&raquo;</span>
                </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.row -->

    <!-- Modals -->
    <div class="modal fade" id="modalDetalle" tabindex="-1" role="dialog" aria-labelledby="view" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
                            class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-body">
                    <div class="row" style="text-align:center">
                        <div class="col-xs-12" style="margin-bottom: 15px">
                            <h2 id="modal-name" style="margin-top: 0"></h2>
                            <h3 id="modal-service" style="margin-top: 10px"></h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <img id="modal-url" width="100%" height="300" class="img-responsive">
                        </div>
                        <div class="col-xs-6">
                            <h5><strong>Experiencia</strong>: <span id="modal-experiencia"></span></h5>
                            <h5><strong>Teléfono</strong>: <span id="modal-telefono"></span></h5>
                            <h5><strong>Email</strong>: <span id="modal-email"></span></h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h3>Comentarios</h3>
                            <div id="comentariosWrapper">
                            </div>
                            <div style="font-size: 35px; text-align: right">
                                <a style="cursor: pointer" data-toggle="modal" data-target="#modalAgregarComentario">
                                    <i class="fa fa-plus-circle"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="modalAgregarComentario" tabindex="-1" role="dialog" aria-labelledby="view"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
                            class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h4 class="modal-title">Agregar Comentario</h4>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-body">
                    <div id="agregarComentarioWrapper">
                        <form role="form" action="{% url 'comentario' %}" method="post" id="comentarioForm">
                            {% csrf_token %}
                            {{ comentario_form.as_p }}
                            <div class="row">
                                <div class="col-xs-4 col-xs-offset-4">
                                    <button type="submit" class="btn btn-primary btn-block">Enviar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="modalRegistro" tabindex="-1" role="dialog" aria-labelledby="view" aria-hidden="true">
        <div class="modal-dialog">
            <!-- Modal content -->
            <div class="modal-content">
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="view" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
                            class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-body">
                    <div class="login-box">
                        <div class="login-logo">
                            <span style="font-size: 50px">Busco<b>AYUDA</b></span>
                        </div>
                        <!-- /.login-logo -->
                        <div class="login-box-body" style="padding-bottom: 10px">
                            {% if mensaje %}
                                <div class="alert alert-danger alert-dismissable">
                                    <button type="button" class="close" data-dismiss="alert"
                                            aria-hidden="true">&times;</button>
                                    {{ mensaje }}
                                </div>
                            {% endif %}
                            <div></div>
                            <p class="login-box-msg">Iniciar Sesión</p>
                            {% if next %}
                                <form action="/login/?next={{ next }}" method="post">
                            {% else %}
                                <form action="/login/" method="post">
                            {% endif %}
                            {% csrf_token %}
                            <div class="form-group has-feedback">
                                <input type="text" class="form-control" name="userid" placeholder="Usuario"/>
                                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                            </div>
                            <div class="form-group has-feedback">
                                <input type="password" class="form-control" name="password" placeholder="Contraseña"/>
                                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 col-xs-offset-4">
                                    <button type="submit" class="btn btn-primary btn-block btn-flat">Entrar</button>
                                </div>
                            </div>
                            </form>
                            <div style="margin-top: 10px"></div>
                            <div class="clearfix"></div>
                        </div>
                        <!-- /.login-box-body -->
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
{% endblock %}